<html>
<header>
    <title>Multimedia</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</header>
<body>
    <h1>Search results: {{ search }}</h1> 
    <br/>
    <br/>
    <br/>
    
    <!-- the received movies in a hidden div -->
    <div id="movie_data_received" style="display: none;">{{ json | tojson }}</div> 

    <!-- the processed json displayed to the user-->
    <div id="movies"></div>

    <script> 
        display_movies();

        function display_movies()
        {
            const movieDiv = document.getElementById('movie_data_received');
            const movieJsonString = movieDiv.innerHTML;
            
            // parse to JSON
            let movies = JSON.parse(movieJsonString);

            // the movie content to be displayed
            let movieHtml = "<table class='table'>";
            movieHtml += "<thead><tr>";
            movieHtml += "<th scope='col'>#</th>";        
            movieHtml += "<th scope='col'>Director</th>";
            movieHtml += "<th scope='col'>Amount</th>";
            movieHtml += "</thead></tr>"; 
            movieHtml += "<tbody>";

            // iterate over all movies and add them to the HTML table
            for (x in movies) {
                const movie = movies[x];

                movieHtml += "<tr>";
                movieHtml += "<th scope='row'>" + x + "</th>";
                movieHtml += "<td>" + movie.key + "</td>";
                movieHtml += "<td>" + movie.doc_count + "</td>";
                movieHtml += "</tr>";
            }

            movieHtml += "</tbody>";
            movieHtml += "</table>";

            // store movies to div
            document.getElementById("movies").innerHTML = movieHtml;
        }
    </script>
</body>
</html>